In [1]:
!pip install tensorflow

Requirement already satisfied: tensorflow in c:\users\alima\anaconda3\lib\site-packages (2.8.0)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\alima\anaconda3\lib\site-packages (from tensorflow) (3.3.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\alima\anaconda3\lib\site-packages (from tensorflow) (3.10.0.2)
Requirement already satisfied: tf-estimator-nightly==2.8.0.dev2021122109 in c:\users\alima\anaconda3\lib\site-packages (from tensorflow) (2.8.0.dev2021122109)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\alima\anaconda3\lib\site-packages (from tensorflow) (1.46.0)
Requirement already satisfied: keras<2.9,>=2.8.0rc0 in c:\users\alima\anaconda3\lib\site-packages (from tensorflow) (2.8.0)
Requirement already satisfied: flatbuffers>=1.12 in c:\users\alima\anaconda3\lib\site-packages (from tensorflow) (2.0)
Requirement already satisfied: keras-preprocessing>=1.1.1 in c:\users\alima\anaconda3\lib\site-packages (from tensorflow) (1.1.2)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\alima\anaconda3\lib\site-packages (from tensorflow) (1.6.3)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\alima\anaconda3\lib\site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: six>=1.12.0 in c:\users\alima\anaconda3\lib\site-packages (from tensorflow) (1.16.0)
Requirement already satisfied: tensorboard<2.9,>=2.8 in c:\users\alima\anaconda3\lib\site-packages (from tensorflow) (2.8.0)
Requirement already satisfied: protobuf>=3.9.2 in c:\users\alima\anaconda3\lib\site-packages (from tensorflow) (3.20.0)
Requirement already satisfied: absl-py>=0.4.0 in c:\users\alima\anaconda3\lib\site-packages (from tensorflow) (1.0.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\users\alima\anaconda3\lib\site-packages (from tensorflow) (0.25.0)
Requirement already satisfied: numpy>=1.20 in c:\users\alima\anaconda3\lib\site-packages (from tensorflow) (1.20.3)
Requirement already satisfied: h5py>=2.9.0 in c:\users\alima\anaconda3\lib\site-packages (from tensorflow) (3.2.1)
Requirement already satisfied: libclang>=9.0.1 in c:\users\alima\anaconda3\lib\site-packages (from tensorflow) (14.0.1)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\alima\anaconda3\lib\site-packages (from tensorflow) (1.1.0)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\alima\anaconda3\lib\site-packages (from tensorflow) (1.12.1)
Requirement already satisfied: gast>=0.2.1 in c:\users\alima\anaconda3\lib\site-packages (from tensorflow) (0.5.3)
Requirement already satisfied: setuptools in c:\users\alima\anaconda3\lib\site-packages (from tensorflow) (58.0.4)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\alima\anaconda3\lib\site-packages (from astunparse>=1.6.0->tensorflow) (0.37.0)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in c:\users\alima\anaconda3\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (1.8.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in c:\users\alima\anaconda3\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (0.6.1)
Requirement already satisfied: werkzeug>=0.11.15 in c:\users\alima\anaconda3\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (2.0.2)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\alima\anaconda3\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (2.26.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in c:\users\alima\anaconda3\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (0.4.6)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\alima\anaconda3\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (2.6.6)
Requirement already satisfied: markdown>=2.6.8 in c:\users\alima\anaconda3\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (3.3.7)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\alima\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (5.0.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\alima\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\alima\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (4.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\alima\anaconda3\lib\site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.9,>=2.8->tensorflow) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in c:\users\alima\anaconda3\lib\site-packages (from markdown>=2.6.8->tensorboard<2.9,>=2.8->tensorflow) (4.8.1)
Requirement already satisfied: zipp>=0.5 in c:\users\alima\anaconda3\lib\site-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.9,>=2.8->tensorflow) (3.6.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\alima\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (0.4.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\alima\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\alima\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\alima\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\alima\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (2.0.4)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\alima\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.9,>=2.8->tensorflow) (3.2.0)

In [2]:
!pip install shap

Requirement already satisfied: shap in c:\users\alima\anaconda3\lib\site-packages (0.40.0)
Requirement already satisfied: cloudpickle in c:\users\alima\anaconda3\lib\site-packages (from shap) (2.0.0)
Requirement already satisfied: numpy in c:\users\alima\anaconda3\lib\site-packages (from shap) (1.20.3)
Requirement already satisfied: slicer==0.0.7 in c:\users\alima\anaconda3\lib\site-packages (from shap) (0.0.7)
Requirement already satisfied: pandas in c:\users\alima\anaconda3\lib\site-packages (from shap) (1.3.4)
Requirement already satisfied: numba in c:\users\alima\anaconda3\lib\site-packages (from shap) (0.54.1)
Requirement already satisfied: packaging>20.9 in c:\users\alima\anaconda3\lib\site-packages (from shap) (21.0)
Requirement already satisfied: scikit-learn in c:\users\alima\anaconda3\lib\site-packages (from shap) (0.24.2)
Requirement already satisfied: tqdm>4.25.0 in c:\users\alima\anaconda3\lib\site-packages (from shap) (4.62.3)
Requirement already satisfied: scipy in c:\users\alima\anaconda3\lib\site-packages (from shap) (1.7.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\alima\anaconda3\lib\site-packages (from packaging>20.9->shap) (3.0.4)
Requirement already satisfied: colorama in c:\users\alima\anaconda3\lib\site-packages (from tqdm>4.25.0->shap) (0.4.4)
Requirement already satisfied: llvmlite<0.38,>=0.37.0rc1 in c:\users\alima\anaconda3\lib\site-packages (from numba->shap) (0.37.0)
Requirement already satisfied: setuptools in c:\users\alima\anaconda3\lib\site-packages (from numba->shap) (58.0.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\alima\anaconda3\lib\site-packages (from pandas->shap) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\alima\anaconda3\lib\site-packages (from pandas->shap) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\alima\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->shap) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\alima\anaconda3\lib\site-packages (from scikit-learn->shap) (2.2.0)
Requirement already satisfied: joblib>=0.11 in c:\users\alima\anaconda3\lib\site-packages (from scikit-learn->shap) (1.1.0)

In [47]:
import pandas as pd

from tensorflow.keras import models, layers, utils, backend as k
import matplotlib.pyplot as plt
import seaborn as sns
import shap
from sklearn.model_selection import train_test_split as tts
from sklearn.preprocessing import StandardScaler

import h2o
from h2o.automl import H2OAutoML

from sklearn.ensemble import RandomForestRegressor as RFR


pd.set_option('display.max_columns', None)
scaler=StandardScaler()

In [3]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')
sample=pd.read_csv('sample.csv')
train.head()

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,https://www.airbnb.com/rooms/2842228,20211205213126,2021-12-06,Your little appartment on wheels,A waggon luxurous designed as a hotel room on ...,"Waterland is a beautiful countryside area, wit...",https://a0.muscache.com/pictures/cc2aa51a-3c11...,3040748,https://www.airbnb.com/users/show/3040748,Henk,2012-07-24,"Amsterdam, North Holland, The Netherlands","Living in the countryside, just near Amsterdam...",within a few hours,100%,75%,f,https://a0.muscache.com/im/users/3040748/profi...,https://a0.muscache.com/im/users/3040748/profi...,NaN,13,13,"['email', 'phone', 'reviews', 'jumio', 'offlin...",t,t,"Amsterdam, North Holland, Netherlands",Noord-Oost,NaN,52.39508,4.99186,Private room in farm stay,Private room,3,NaN,1.5 shared baths,1.0,NaN,"[""First aid kit"", ""Free parking on premises"", ...",87.0,2,1125,2.0,2.0,1125.0,1125.0,2.0,1125.0,NaN,t,0,0,0,249,2021-12-06,81,0,0,2014-08-03,2019-06-15,4.62,4.56,4.29,4.57,4.75,4.69,4.49,0363 2A6D 7C09 877D 715F,f,10,0,10,0,0.91
1,1,https://www.airbnb.com/rooms/41236669,20211205213126,2021-12-06,Spacious 4p city center apartment (2 bedrooms!),Are you looking for a perfect place to stay in...,Our home is located in the Plantagebuurt. A un...,https://a0.muscache.com/pictures/5f33bf5a-399c...,34773624,https://www.airbnb.com/users/show/34773624,Julie,2015-06-01,"Amsterdam, Noord-Holland, Netherlands",NaN,NaN,NaN,NaN,f,https://a0.muscache.com/im/pictures/user/a5da3...,https://a0.muscache.com/im/pictures/user/a5da3...,Weesperbuurt en Plantage,0,0,"['email', 'phone', 'reviews']",t,f,"Amsterdam, Noord-Holland, Netherlands",Centrum-Oost,NaN,52.36371,4.90745,Entire rental unit,Entire home/apt,4,NaN,1 bath,2.0,2.0,"[""Hot water kettle"", ""Pocket wifi"", ""Stove"", ""...",250.0,2,1125,2.0,2.0,1125.0,1125.0,2.0,1125.0,NaN,t,3,3,3,3,2021-12-06,9,4,1,2020-01-26,2021-09-05,5.00,5.00,5.00,4.89,5.00,5.00,4.89,0363 BD0E 9934 ACCA D3DE,f,1,1,0,0,0.40
2,2,https://www.airbnb.com/rooms/27240740,20211205213126,2021-12-06,SWEETS hotel Theophile de Bockbrug,Comfortable bridge house on the doorstep of Am...,"The neighbourhood has a quiet, village-like fe...",https://a0.muscache.com/pictures/b1145dd1-e485...,203731852,https://www.airbnb.com/users/show/203731852,SWEETS Hotel,2018-07-20,"Wassenaar, South Holland, Netherlands",SWEETS hotel is a one-of-a-kind hotel located ...,within an hour,100%,97%,t,https://a0.muscache.com/im/pictures/user/492cd...,https://a0.muscache.com/im/pictures/user/492cd...,Hoofddorppleinbuurt,20,20,"['email', 'phone']",t,t,"Amsterdam, Noord-Holland, Netherlands",Zuid,NaN,52.35482,4.85329,Room in serviced apartment,Hotel room,2,NaN,1 private bath,1.0,1.0,"[""Air conditioning"", ""First aid kit"", ""Hangers...",151.0,1,1125,1.0,1.0,99.0,99.0,1.0,99.0,NaN,t,25,55,85,267,2021-12-06,47,3,1,2018-11-09,2020-03-07,4.79,4.83,4.91,4.62,4.87,4.87,4.40,Exempt,t,20,4,0,0,1.25
3,3,https://www.airbnb.com/rooms/33326302,20211205213126,2021-12-05,Lovely home near Vondelpark: great for couples!,"In het gezellige Amsterdamse Oud-West, vind je...",Oud-West is een van de gezelligste wijken in A...,https://a0.muscache.com/pictures/75f8ae17-eeb8...,68783888,https://www.airbnb.com/users/show/68783888,Lotte,2016-04-25,"Amsterdam, North Holland, Netherlands",NaN,within an hour,100%,67%,f,https://a0.muscache.com/im/pictures/user/a4d0e...,https://a0.muscache.com/im/pictures/user/a4d0e...,Oud-West,1,1,"['email', 'phone', 'facebook']",t,f,"Amsterdam, Noord-Holland, Netherlands",De Baarsjes - Oud-West,NaN,52.36446,4.85972,Entire rental unit,Entire home/apt,2,NaN,1.5 baths,1.0,1.0,"[""Hair dryer"", ""Stove"", ""Dishes and silverware...",139.0,2,30,2.0,2.0,1125.0,1125.0,2.0,1125.0,NaN,t,0,0,0,0,2021-12-05,10,3,0,2019-04-22,2019-11-10,5.00,5.00,4.80,5.00,5.00,4.90,4.70,0363 7E52 3D3D 6AB1 3C72,f,1,1,0,0,0.31
4,4,https://www.airbnb.com/rooms/969862,20211205213126,2021-12-06,Living in a houseboat on the water,<b>The space</b><br />The apartment is a part ...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,5297940,https://www.airbnb.com/users/show/5297940,Helga,2013-03-03,"Amsterdam, North Holland, The Netherlands",Helga had the Austrian nationality before she ...,within a few hours,100%,75%,t,https://a0.muscache.com/im/users/5297940/profi...,https://a0.muscache.com/im/users/5297940/profi...,Oud-Zuid,1,1,"['email', 'phone', 'reviews', 'manual_offline'...",t,t,NaN,Zuid,NaN,52.34176,4.84782,Private room in rental unit,Private room,2,NaN,1.5 baths,1.0,2.0,"[""Hair dryer"", ""Dishes and silverware"", ""Ether...",95.0,2,7,2.0,2.0,7.0,7.0,2.0,7.0,NaN,t,18,48,78,349,2021-12-06,166,1,0,2014-04-08,2019-08-26,4.67,4.76,4.81,4.95,4.89,4.49,4.57,0363 77F9 4DBC 2E88 41C2,f,1,0,1,0,1.78

In [57]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4167 entries, 0 to 4166
Data columns (total 74 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            4167 non-null   int64
 1   listing_url                                   4167 non-null   object
 2   scrape_id                                     4167 non-null   int64
 3   last_scraped                                  4167 non-null   object
 4   name                                          4167 non-null   object
 5   description                                   4159 non-null   object
 6   neighborhood_overview                         3004 non-null   object
 7   picture_url                                   4167 non-null   object
 8   host_id                                       4167 non-null   int64
 9   host_url                                      4167 non-null   object
 10  host_name                                     4167 non-null   object
 11  host_since                                    4167 non-null   object
 12  host_location                                 4155 non-null   object
 13  host_about                                    2655 non-null   object
 14  host_response_time                            2754 non-null   object
 15  host_response_rate                            2754 non-null   object
 16  host_acceptance_rate                          3075 non-null   object
 17  host_is_superhost                             4167 non-null   object
 18  host_thumbnail_url                            4167 non-null   object
 19  host_picture_url                              4167 non-null   object
 20  host_neighbourhood                            2381 non-null   object
 21  host_listings_count                           4167 non-null   int64
 22  host_total_listings_count                     4167 non-null   int64
 23  host_verifications                            4167 non-null   object
 24  host_has_profile_pic                          4167 non-null   object
 25  host_identity_verified                        4167 non-null   object
 26  neighbourhood                                 3004 non-null   object
 27  neighbourhood_cleansed                        4167 non-null   object
 28  neighbourhood_group_cleansed                  0 non-null      float64
 29  latitude                                      4167 non-null   float64
 30  longitude                                     4167 non-null   float64
 31  property_type                                 4167 non-null   object
 32  room_type                                     4167 non-null   object
 33  accommodates                                  4167 non-null   int64
 34  bathrooms                                     0 non-null      float64
 35  bathrooms_text                                4159 non-null   object
 36  bedrooms                                      3914 non-null   float64
 37  beds                                          3993 non-null   float64
 38  amenities                                     4167 non-null   object
 39  price                                         4167 non-null   float64
 40  minimum_nights                                4167 non-null   int64
 41  maximum_nights                                4167 non-null   int64
 42  minimum_minimum_nights                        4166 non-null   float64
 43  maximum_minimum_nights                        4166 non-null   float64
 44  minimum_maximum_nights                        4166 non-null   float64
 45  maximum_maximum_nights                        4166 non-null   float64
 46  minimum_nights_avg_ntm                        4166 non-null   float64
 47  maximum_nights_avg_ntm                        4166 non-null   float64
 48  calendar_updated                              0 non-null      float64
 49  has_availability                              4167 non-null   object
 50  availability_30                               4167 non-null   int64
 51  availability_60                               4167 non-null   int64
 52  availability_90                               4167 non-null   int64
 53  availability_365                              4167 non-null   int64
 54  calendar_last_scraped                         4167 non-null   object
 55  number_of_reviews                             4167 non-null   int64
 56  number_of_reviews_ltm                         4167 non-null   int64
 57  number_of_reviews_l30d                        4167 non-null   int64
 58  first_review                                  3790 non-null   object
 59  last_review                                   3790 non-null   object
 60  review_scores_rating                          3790 non-null   float64
 61  review_scores_accuracy                        3782 non-null   float64
 62  review_scores_cleanliness                     3782 non-null   float64
 63  review_scores_checkin                         3782 non-null   float64
 64  review_scores_communication                   3782 non-null   float64
 65  review_scores_location                        3782 non-null   float64
 66  review_scores_value                           3782 non-null   float64
 67  license                                       4135 non-null   object
 68  instant_bookable                              4167 non-null   object
 69  calculated_host_listings_count                4167 non-null   int64
 70  calculated_host_listings_count_entire_homes   4167 non-null   int64
 71  calculated_host_listings_count_private_rooms  4167 non-null   int64
 72  calculated_host_listings_count_shared_rooms   4167 non-null   int64
 73  reviews_per_month                             3790 non-null   float64
dtypes: float64(22), int64(19), object(33)
memory usage: 2.4+ MB

In [4]:
columnas=['property_type',
 'neighbourhood_cleansed',
 'host_location',
 'availability_30',
 'accommodates',

 'bedrooms',
 'availability_365',
 'room_type', 'reviews_per_month','review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable',]

entreno=train[columnas]
testeo=test[columnas]
entreno.shape, testeo.shape

((4167, 17), (1389, 17))

In [5]:
junto=pd.concat([entreno, testeo])
junto.tail()

,property_type,neighbourhood_cleansed,host_location,availability_30,accommodates,bedrooms,availability_365,room_type,reviews_per_month,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable
1384,Private room in guest suite,Oud-Noord,NL,0,2,1.0,33,Private room,0.34,4.93,4.93,4.87,4.93,4.93,4.33,4.67,f
1385,Entire rental unit,Oostelijk Havengebied - Indische Buurt,"Amsterdam, North Holland, Netherlands",0,3,2.0,0,Entire home/apt,0.46,4.63,4.83,4.29,4.83,4.78,4.57,4.32,f
1386,Entire townhouse,De Baarsjes - Oud-West,"Amsterdam, Noord-Holland, The Netherlands",0,4,2.0,0,Entire home/apt,0.21,4.93,5.00,4.86,4.93,5.00,4.71,4.71,f
1387,Entire residential home,Bos en Lommer,"Amsterdam, North Holland, Netherlands",0,2,1.0,64,Entire home/apt,1.41,5.00,5.00,5.00,5.00,5.00,5.00,4.67,f
1388,Private room in townhouse,IJburg - Zeeburgereiland,"Amsterdam, North Holland, Netherlands",12,4,NaN,267,Private room,2.21,4.84,4.88,4.82,4.95,4.99,4.71,4.63,t

In [6]:
locatio={'NL':'Netherlands',
         'Netherlands':'Netherlands',
         'US':'US',
         'RS':'Russia',
         'Spain':'Spain',
         'Ireland':'Ireland',
         'States':'US',
         'Switzerland':'Switzerland',
         'Canada':'Canada',
         'Romania':'Romania',
         'Australia':'Australia',
         'Africa':'Unknown',
         'Emirates':'Emirates',
         'Belgium':'Belgium',
         'Lithuania':'Lithuania',
         'China':'China',
         'Singapore':'China',
         'Denmark':'Denmark',
          'GB':'UK',
          'Kingdom':'UK',
         'ES':'Spain',
         'DE':'Germany',
         'BR':'Brazil',
         'London':'UK',
         'Nederland':'Netherlands',
         'FR':'France',
         'IT':'Italy'}

In [7]:
junto.host_location=junto.host_location.map(locatio)
junto.host_location.fillna('Unknown', inplace=True)


junto_dum=pd.get_dummies(junto, columns=['property_type', 'neighbourhood_cleansed','host_location',
        'room_type', 'instant_bookable'], drop_first=True)


fit_junto=pd.DataFrame(scaler.fit_transform(junto_dum))

In [8]:
fit_junto.shape

(5556, 104)

In [9]:
5556-4167

1389

In [43]:
entreno_t=fit_junto[:4167]
testeo_t=fit_junto[-1389:]

In [45]:
entreno_t['price']=train.price

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [59]:
k=junto_dum.columns
k

Index(['availability_30', 'accommodates', 'bedrooms', 'availability_365',
       'reviews_per_month', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication',
       ...
       'host_location_Netherlands', 'host_location_Russia',
       'host_location_Spain', 'host_location_UK', 'host_location_US',
       'host_location_Unknown', 'room_type_Hotel room',
       'room_type_Private room', 'room_type_Shared room',
       'instant_bookable_t'],
      dtype='object', length=104)

**TEST**

In [44]:
testeo_t.columns=junto_dum.columns
entreno_t.columns=junto_dum.columns

In [13]:
h2o.init()
h2train=h2o.H2OFrame(entreno_t)
h2test=h2o.H2OFrame(testeo_t)

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  -----------------------------
H2O_cluster_uptime:         22 hours 20 mins
H2O_cluster_timezone:       Europe/Madrid
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.36.1.1
H2O_cluster_version_age:    25 days
H2O_cluster_name:           H2O_from_python_alima_qo25af
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    2.627 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.9.7 final
--------------------------  -----------------------------

Parse progress: || (done) 100%
Parse progress: || (done) 100%

In [14]:
automl=H2OAutoML(max_models=50,
                 seed=42,   # random_state
                 max_runtime_secs=300,
                 sort_metric='RMSE')

In [46]:
X=[c for c in entreno_t.columns if c!='price']
y='price'

In [16]:
automl.train(x=X,
             y=y,
             training_frame=h2train)

AutoML progress: |
15:27:16.376: AutoML: XGBoost is not available; skipping it.
15:27:16.382: _train param, Dropping bad and constant columns: [45, 13, 57, 36, 47]
15:27:17.44: _train param, Dropping bad and constant columns: [45, 13, 57, 36, 47]


15:27:21.532: _train param, Dropping bad and constant columns: [45, 13, 57, 36, 47]


15:27:34.178: _train param, Dropping bad and constant columns: [45, 13, 57, 36, 47]


15:27:44.430: _train param, Dropping bad and constant columns: [45, 13, 57, 36, 47]


15:27:59.247: _train param, Dropping bad and constant columns: [45, 13, 57, 36, 47]


15:28:15.295: _train param, Dropping bad and constant columns: [45, 13, 57, 36, 47]


15:28:34.463: _train param, Dropping bad and constant columns: [45, 13, 57, 36, 47]


15:28:38.301: _train param, Dropping bad and constant columns: [45, 13, 57, 36, 47]

| (done) 100%
Model Details
=============
H2OGradientBoostingEstimator :  Gradient Boosting Machine
Model Key:  GBM_grid_1_AutoML_6_20220509_152716_model_17


Model Summary:

,,number_of_trees,number_of_internal_trees,model_size_in_bytes,min_depth,max_depth,mean_depth,min_leaves,max_leaves,mean_leaves
0,,46.0,46.0,107208.0,9.0,9.0,9.0,44.0,272.0,181.26086

ModelMetricsRegression: gbm
** Reported on train data. **

MSE: 1858.0486960485782
RMSE: 43.10508898086835
MAE: 29.471442499977808
RMSLE: 0.268697908577984
Mean Residual Deviance: 1858.0486960485782

ModelMetricsRegression: gbm
** Reported on cross-validation data. **

MSE: 9910.522387545703
RMSE: 99.55160665476828
MAE: 53.949934849377215
RMSLE: 0.4341081657080728
Mean Residual Deviance: 9910.522387545703

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,mae,53.724770,1.917007,53.797710,53.989697,54.968563,55.365635,50.502240
1,mean_residual_deviance,10394.057000,2024.696800,10963.333000,9155.078000,12660.529000,11611.446000,7579.894000
2,mse,10394.057000,2024.696800,10963.333000,9155.078000,12660.529000,11611.446000,7579.894000
3,r2,0.441414,0.373082,0.341837,0.847432,0.046427,0.818900,0.152475
4,residual_deviance,10394.057000,2024.696800,10963.333000,9155.078000,12660.529000,11611.446000,7579.894000
5,rmse,101.545230,10.162620,104.705940,95.682175,112.519020,107.756420,87.062584
6,rmsle,0.429478,0.014186,0.425001,0.425013,0.449406,0.436384,0.411585

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_mae,training_deviance
0,,2022-05-09 15:30:51,2 min 11.520 sec,0.0,180.636876,79.357361,32629.681119
1,,2022-05-09 15:30:51,2 min 11.664 sec,5.0,135.883731,62.785128,18464.388386
2,,2022-05-09 15:30:51,2 min 11.783 sec,10.0,106.168823,52.576564,11271.818971
3,,2022-05-09 15:30:52,2 min 11.895 sec,15.0,82.787823,45.915305,6853.823593
4,,2022-05-09 15:30:52,2 min 12.056 sec,20.0,70.813319,40.996384,5014.526099
5,,2022-05-09 15:30:52,2 min 12.176 sec,25.0,61.786602,37.600986,3817.584208
6,,2022-05-09 15:30:52,2 min 12.313 sec,30.0,54.970641,34.796983,3021.771402
7,,2022-05-09 15:30:52,2 min 12.431 sec,35.0,49.494727,32.853648,2449.728017
8,,2022-05-09 15:30:52,2 min 12.525 sec,40.0,46.746071,31.443295,2185.195115
9,,2022-05-09 15:30:52,2 min 12.642 sec,45.0,43.575549,29.774916,1898.828467
10,,2022-05-09 15:30:52,2 min 12.666 sec,46.0,43.105089,29.471442,1858.048696

Variable Importances:

   variable  relative_importance  scaled_importance  percentage
0        94           52872308.0           1.000000    0.105116
1         2           50411096.0           0.953450    0.100222
2        72           36670984.0           0.693576    0.072906
3         3           35776344.0           0.676656    0.071127
4        56           33371910.0           0.631179    0.066347
5         1           28793476.0           0.544585    0.057244
6         8           23663318.0           0.447556    0.047045
7         6           22340456.0           0.422536    0.044415
8       101           21381864.0           0.404406    0.042509
9        70           16634791.0           0.314622    0.033072
10        4           16302337.0           0.308334    0.032411
11        0           15865328.0           0.300069    0.031542
12       11           12314501.0           0.232910    0.024483
13        9           12254115.0           0.231768    0.024362
14       74           11621134.0           0.219796    0.023104
15       10           11405758.0           0.215723    0.022676
16        7           11130867.0           0.210524    0.022129
17       48            9954564.0           0.188276    0.019791
18       99            9595662.0           0.181487    0.019077
19       26            8389885.0           0.158682    0.016680

See the whole table with table.as_data_frame()

In [17]:
print('[INFO] Leader board:')

leader_board=automl.leaderboard

leader_board.head()

[INFO] Leader board:

model_id,rmse,mse,mae,rmsle,mean_residual_deviance
GBM_grid_1_AutoML_6_20220509_152716_model_17,99.5516,9910.52,53.9499,0.434108,9910.52
GBM_grid_1_AutoML_6_20220509_152716_model_3,100.498,10099.8,55.8237,nan,10099.8
GBM_grid_1_AutoML_6_20220509_152716_model_5,101.059,10212.9,54.3693,nan,10212.9
GBM_grid_1_AutoML_6_20220509_152716_model_8,102.453,10496.5,54.941,nan,10496.5
GBM_5_AutoML_6_20220509_152716,104.337,10886.3,52.3185,0.419723,10886.3
GBM_3_AutoML_6_20220509_152716,104.67,10955.8,54.9036,nan,10955.8
GBM_4_AutoML_6_20220509_152716,104.729,10968.2,54.767,nan,10968.2
GBM_grid_1_AutoML_6_20220509_152716_model_15,105.434,11116.3,54.9524,nan,11116.3
DRF_1_AutoML_6_20220509_152716,106.992,11447.4,52.0591,0.41533,11447.4
GBM_grid_1_AutoML_6_20220509_152716_model_1,108.926,11864.8,53.699,nan,11864.8

In [18]:
y_pred=automl.leader.predict(h2test)
automl.leader.summary()
pred= h2o.as_list(y_pred)

gbm prediction progress: || (done) 100%

In [19]:
sample['price']=pred

In [20]:
sample.tail()

           price    id
1384   82.351164  1384
1385  123.991542  1385
1386  195.873223  1386
1387  142.367620  1387
1388   81.984694  1388

In [21]:
pred.shape

(1389, 1)

In [23]:
sample.to_csv('lunes.csv', index=False)

In [24]:
k=pd.read_csv('lunes.csv')

In [25]:
k.head()

        price  id
0   87.155864   0
1  121.670039   1
2  119.715487   2
3   99.517998   3
4  136.249520   4

**Random Forest**

In [48]:
bosque=RFR()

In [61]:
entreno_b=entreno_t.dropna(axis=0)
Xb=entreno_b.drop('price', axis=1)


yb=entreno_b.price

In [63]:
bosque.fit(Xb,yb)

RandomForestRegressor()

In [71]:
testeo_t.head()

,availability_30,accommodates,bedrooms,availability_365,reviews_per_month,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,property_type_Boat,property_type_Bus,property_type_Camper/RV,property_type_Casa particular,property_type_Cave,property_type_Entire cabin,property_type_Entire chalet,property_type_Entire condominium (condo),property_type_Entire cottage,property_type_Entire guest suite,property_type_Entire guesthouse,property_type_Entire home/apt,property_type_Entire loft,property_type_Entire place,property_type_Entire rental unit,property_type_Entire residential home,property_type_Entire serviced apartment,property_type_Entire townhouse,property_type_Entire vacation home,property_type_Entire villa,property_type_Houseboat,property_type_Private room,property_type_Private room in bed and breakfast,property_type_Private room in boat,property_type_Private room in bungalow,property_type_Private room in cabin,property_type_Private room in casa particular,property_type_Private room in condominium (condo),property_type_Private room in farm stay,property_type_Private room in guest suite,property_type_Private room in guesthouse,property_type_Private room in hostel,property_type_Private room in houseboat,property_type_Private room in island,property_type_Private room in loft,property_type_Private room in nature lodge,property_type_Private room in rental unit,property_type_Private room in residential home,property_type_Private room in serviced apartment,property_type_Private room in tiny house,property_type_Private room in townhouse,property_type_Private room in villa,property_type_Room in aparthotel,property_type_Room in bed and breakfast,property_type_Room in boutique hotel,property_type_Room in casa particular,property_type_Room in hostel,property_type_Room in hotel,property_type_Room in serviced apartment,property_type_Shared room in bed and breakfast,property_type_Shared room in boat,property_type_Shared room in hostel,property_type_Shared room in houseboat,property_type_Shared room in rental unit,property_type_Shared room in residential home,property_type_Tiny house,property_type_Tower,neighbourhood_cleansed_Bijlmer-Oost,neighbourhood_cleansed_Bos en Lommer,neighbourhood_cleansed_Buitenveldert - Zuidas,neighbourhood_cleansed_Centrum-Oost,neighbourhood_cleansed_Centrum-West,neighbourhood_cleansed_De Aker - Nieuw Sloten,neighbourhood_cleansed_De Baarsjes - Oud-West,neighbourhood_cleansed_De Pijp - Rivierenbuurt,neighbourhood_cleansed_Gaasperdam - Driemond,neighbourhood_cleansed_Geuzenveld - Slotermeer,neighbourhood_cleansed_IJburg - Zeeburgereiland,neighbourhood_cleansed_Noord-Oost,neighbourhood_cleansed_Noord-West,neighbourhood_cleansed_Oostelijk Havengebied - Indische Buurt,neighbourhood_cleansed_Osdorp,neighbourhood_cleansed_Oud-Noord,neighbourhood_cleansed_Oud-Oost,neighbourhood_cleansed_Slotervaart,neighbourhood_cleansed_Watergraafsmeer,neighbourhood_cleansed_Westerpark,neighbourhood_cleansed_Zuid,host_location_Brazil,host_location_France,host_location_Germany,host_location_Italy,host_location_Netherlands,host_location_Russia,host_location_Spain,host_location_UK,host_location_US,host_location_Unknown,room_type_Hotel room,room_type_Private room,room_type_Shared room,instant_bookable_t
4167,2.205119,-1.338502,-0.63484,-0.134244,0.227385,0.597135,0.639331,0.771467,0.514452,0.475117,0.879330,1.170131,-0.119326,-0.013417,-0.023243,-0.013417,-0.013417,-0.023243,-0.018976,-0.227322,-0.026841,-0.067231,-0.048428,-0.013417,-0.168843,-0.030012,-0.852372,-0.259683,-0.152947,-0.175493,-0.026841,-0.058579,-0.13607,-0.035517,-0.229068,-0.115386,-0.013417,-0.018976,-0.037973,-0.107094,-0.035517,-0.128318,-0.037973,-0.05203,-0.127591,-0.013417,-0.089345,-0.013417,2.901198,-0.155395,-0.035517,-0.023243,-0.128318,-0.03288,-0.068568,-0.07117,-0.171642,-0.013417,-0.060106,-0.131894,-0.053741,-0.018976,-0.013417,-0.040280,-0.018976,-0.030012,-0.018976,-0.023243,-0.023243,-0.058579,-0.216153,-0.100905,-0.353768,-0.430882,-0.095294,-0.411030,-0.332466,-0.089345,-0.123148,-0.172196,-0.130475,-0.158405,-0.195731,-0.080757,-0.217517,4.092774,-0.13607,-0.164854,-0.267493,-0.265556,-0.018976,-0.013417,-0.037973,-0.013417,-0.337120,-0.013417,-0.030012,-0.053741,-0.023243,0.349568,-0.126126,1.476587,-0.061596,-0.705389
4168,-0.822839,-0.653848,-0.63484,1.343367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.119326,-0.013417,-0.023243,-0.013417,-0.013417,-0.023243,-0.018976,-0.227322,-0.026841,-0.067231,-0.048428,-0.013417,-0.168843,-0.030012,-0.852372,-0.259683,-0.152947,-0.175493,-0.026841,-0.058579,-0.13607,-0.035517,-0.229068,-0.115386,-0.013417,-0.018976,-0.037973,-0.107094,-0.035517,-0.128318,-0.037973,-0.05203,-0.127591,-0.013417,-0.089345,-0.013417,-0.344685,-0.155395,-0.035517,-0.023243,-0.128318,-0.03288,-0.068568,-0.07117,-0.171642,-0.013417,-0.060106,-0.131894,-0.053741,-0.018976,-0.013417,24.826062,-0.018976,-0.030012,-0.018976,-0.023243,-0.023243,-0.058579,-0.216153,-0.100905,-0.353768,-0.430882,-0.095294,-0.411030,-0.332466,-0.089345,-0.123148,-0.172196,-0.130475,-0.158405,-0.195731,-0.080757,4.597332,-0.244333,-0.13607,-0.164854,-0.267493,-0.265556,-0.018976,-0.013417,-0.037973,-0.013417,2.966301,-0.013417,-0.030012,-0.053741,-0.023243,-2.860677,-0.126126,-0.677237,16.234883,1.417657
4169,-0.822839,-0.653848,-0.63484,-0.822764,-0.457858,-0.035386,-0.208547,0.428978,-0.377141,0.036522,-1.812972,-0.654987,-0.119326,-0.013417,-0.023243,-0.013417,-0.013417,-0.023243,-0.018976,-0.227322,-0.026841,-0.067231,-0.048428,-0.013417,-0.168843,-0.030012,1.173197,-0.259683,-0.152947,-0.175493,-0.026841,-0.058579,-0.13607,-0.035517,-0.229068,-0.115386,-0.013417,-0.018976,-0.037973,-0.107094,-0.035517,-0.128318,-0.037973,-0.05203,-0.127591,-0.013417,-0.089345,-0.013417,-0.344685,-0.155395,-0.035517,-0.023243,-0.128318,-0.03288,-0.068568,-0.07117,-0.171642,-0.013417,-0.060106,-0.131894,-0.053741,-0.018976,-0.013417,-0.040280,-0.018976,-0.030012,-0.018976,-0.023243,-0.023243,-0.058579,-0.216153,-0.100905,-0.353768,-0.430882,-0.095294,2.432911,-0.332466,-0.089345,-0.123148,-0.172196,-0.130475,-0.158405,-0.195731,-0.080757,-0.217517,-0.244333,-0.13607,-0.164854,-0.267493,-0.265556,-0.018976,-0.013417,-0.037973,-0.013417,-0.337120,-0.013417,-0.030012,-0.053741,-0.023243,0.349568,-0.126126,-0.677237,-0.061596,1.417657
4170,-0.822839,-0.653848,-0.63484,-0.822764,-0.361072,-0.524152,-0.709566,-0.162593,-0.174506,-0.202712,0.678412,-0.622396,-0.119326,-0.013417,-0.023243,-0.013417,-0.013417,-0.023243,-0.018976,-0.227322,-0.026841,-0.067231,-0.048428,-0.013417,-0.168843,-0.030012,-0.852372,-0.259683,-0.152947,-0.175493,-0.026841,-0.058579,-0.13607,-0.035517,-0.229068,-0.115386,-0.013417,-0.018976,-0.037973,-0.107094,-0.035517,-0.128318,-0.037973,-0.05203,-0.127591,-0.013417,-0.089345,-0.013417,2.901198,-0.155395,-0.035517,-0.023243,-0.128318,-0.03288,-0.068568,-0.07117,-0.171642,-0.013417,-0.060106,-0.131894,-0.053741,-0.018976,-0.013417,-0.040280,-0.018976,-0.030012,-0.018976,-0.023243,-0.023243,-0.058579,-0.216153,-0.100905,2.826710,-0.430882,-0.095294,-0.411030,-0.332466,-0.089345,-0.123148,-0.172196,-0.130475,-0.158405,-0.195731,-0.080757,-0.217517,-0.244333,-0.13607,-0.164854,-0.267493,-0.265556,-0.018976,-0.013417,-0.037973,-0.013417,-0.337120,-0.013417,-0.030012,-0.053741,-0.023243,0.349568,-0.126126,1.476587,-0.061596,-0.705389
4171,-0.822839,-0.653848,-0.63484,-0.822764,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.119326,-0.013417,-0.023243,-0.013417,-0.013417,-0.023243,-0.018976,-0.227322,-0.026841,-0.067231,-0.048428,-0.013417,-0.168843,-0.030012,1.173197,-0.259683,-0.152947,-0.175493,-0.026841,-0.058579,-0.13607,-0.035517,-0.229068,-0.115386,-0.013417,-0.018976,-0.037973,-0.107094,-0.035517,-0.128318,-0.037973,-0.05203,-0.127591,-0.013417,-0.089345,-0.013417,-0.344685,-0.155395,-0.035517,-0.023243,-0.128318,-0.03288,-0.068568,-0.07117,-0.171642,-0.013417,-0.060106,-0.131894,-0.053741,-0.018976,-0.013417,-0.040280,-0.018976,-0.030012,-0.018976,-0.023243,-0.023243,-0.058579,-0.216153,-0.100905,-0.353768,-0.430882,-0.095294,-0.411030,-0.332466,-0.089345,-0.123148,-0.172196,-0.130475,-0.158405,-0.195731,-0.080757,-0.217517,-0.244333,-0.13607,-0.164854,-0.267493,3.765678,-0.018976,-0.013417,-0.037973,-0.013417,-0.337120,-0.013417,-0.030012,-0.053741,-0.023243,0.349568,-0.126126,-0.677237,-0.061596,-0.705389

In [72]:
testeo_b=testeo_t.fillna(0)

In [73]:
y_pred_bosque=bosque.predict(testeo_b)

In [74]:
y_pred_bosque

array([ 98.6 , 124.57, 113.73, ..., 211.32, 141.83, 130.5 ])

In [75]:
sample['price']=y_pred_bosque
sample.head()

    price  id
0   98.60   0
1  124.57   1
2  113.73   2
3   92.80   3
4  119.28   4

In [76]:
sample.to_csv('lunes_bosque.csv', index=False)

In [77]:
X_train, X_test, y_train, y_test = tts(Xb, yb, 
                                                    test_size=0.2, train_size=0.8,
                                                    random_state=42)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((2838, 104), (710, 104), (2838,), (710,))

In [78]:
bosque.fit(X_train,y_train)

RandomForestRegressor()

In [79]:
y_prueba=bosque.predict(X_test)

In [80]:
from sklearn.metrics import mean_squared_error as mse

In [81]:
mse(y_prueba,y_test, squared=False)

77.03865158221316

In [90]:
from sklearn.metrics import r2_score as r2

r2(y_prueba,y_test)

0.051657834782298684

**Prueba Viernes, Investigacin**

In [83]:
viernes=pd.read_csv('Data Viernes/pred_viernes.csv')

In [84]:
viernes.head()

        price  id
0   89.098731   0
1   55.408042   1
2  126.185660   2
3  130.313015   3
4  126.443382   4

In [85]:
mse(y_pred_bosque,viernes.price, squared=False)

76.90230690450103

In [86]:
mse(y_pred_bosque,pred, squared=False)

70.85402709875545

In [87]:
mse(pred,viernes.price, squared=False)

71.92272484965227

In [88]:
pred_kagle=pd.read_csv('pred.csv')
mse(pred_kagle.price,viernes.price, squared=False)

60.83078251416547

In [89]:
mse(pred_kagle.price,y_pred_bosque, squared=False)

71.52410476427454